<nav class="navbar">
  <div class="logo">
    ✝ Redeemer Evangelical Prayer House
  </div>

  <ul class="nav-links">
    <li>
      <a 
        routerLink="/" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>
    </li>

    <li>
      <a routerLink="/about" routerLinkActive="active" >
        About
      </a>
    </li>

    <li>
      <a routerLink="/ministries" routerLinkActive="active">
        Ministries
      </a>
    </li>

    <!-- <li>
      <a routerLink="/sermons" routerLinkActive="active">
        Sermons
      </a>
    </li> -->
<li><a routerLink="/leadership" routerLinkActive="active">Leadership</a></li>

    <li>
      <a routerLink="/contact" routerLinkActive="active">
        Contact
      </a>
    </li>
  </ul>
</nav>
